*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
  background-color: rgba(251, 240, 208, 0.438);
}
h1,form{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
/* .heading-container{
  
  background-color: #f2796e;
  height: 290px;
} */

h1{
  display: flex;
  font-size: 2.9rem;
  font-family: Arial, Helvetica, sans-serif;
 
}
/* Style the input container */
.form-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px; 
  
}

.label:after{
   content:'*';
   font-weight: bold;
   color: red;
   }

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  /* min-width: 50px; */
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 80%;
  padding: 9px;
  font-size: 16px;
  border-radius: 5px;
  border-color: rgb(235, 236, 237);
  background-color: white;
  outline: none;
}
.label{
  font-size: large;

}
form{
    
    width: 60%;
    min-width: 300px;
    max-width: 450px;
    padding: 30px;
    
    /* margin: 30px 0px; */
}
.form-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
  text-align: left;
  word-wrap: break-word;
  font-size: 14.5px;
  margin-top: 5px;
  color: red;
}
.submit{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  .form-group{
    margin: 1rem;
  }

  @media(max-width:425px){
    h1{
      font-size: 2.5rem;
    }
  
  h1,form{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
/* .form-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px; 
} */
form{
  border:  2px solid gray;
  width: 84.8%;
  height: 50%;
  padding: 30px;
  border-radius: 20px;
  margin: 30px 0px;
}
}