*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #efecec;
    
}
ul {
    list-style: none;
    padding: 0;
    font-size: 19px;
    margin-bottom: 30px;
  }
  
  li {
    display: inline;
    margin-right: 10px; 
  }
  ul,button{
    display: inline-block;
  }
  
  #join{
    left: 26%;
  }
  .button-1 {

    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
  }
  
  .button-1:disabled {
    cursor: default;
  }
  
  .button-1:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  .button-2 {
    appearance: button;
    backface-visibility: hidden;
    border-style: solid;
    
    border-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #405cf5;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 19px 0 0;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
  }
  
  .button-2:disabled {
    cursor: default;
  }
  
  .button-2:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
  /* .heading{
    text-align: center;
    margin-bottom: 20px;
    background-image: url(travel.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
    background-color: rgba(0, 0, 0, .20);
    position: relative;
  } */
  .carousel-item,button{
    position: relative;
    text-align: center;
    
  }
  .center {
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* .text{
    color: rgb(39, 32, 32);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
   #center{
    left: 64%;
   }
  .button{
    position: absolute;
    background-color: goldenrod;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;  /*(top,bottom;right left)*/
    cursor: pointer;
    left: 40%;
    display:block;
  }
  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }

  @media(min-width:425px)and (max-width:768px){
    .center {
      position: absolute;
      font-size: 17px;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .button{
    position: absolute;
    background-color: goldenrod;
    font-size: 13px;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;  /*(top,bottom;right left)*/
    cursor: pointer;
    left: 30%;
    display:block; 
  }
  #center1{
    left: 70%;
  }
  .feature-icon {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  .img{
    float: left;
    height: 7.5rem;
    width: 7.5rem;
    margin-right: 2vh;
  }
}
@media(max-width:425px){
  .center {
    position: absolute;
    font-size: 15px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
  position: absolute;
  background-color: goldenrod;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;  /*(top,bottom;right left)*/
  cursor: pointer;
  left: 30%;
  display:block; 
}
#center1{
  left: 70%;
}
#join{
  left: 18%;
}
.feature-icon {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: .75rem;
}
.img{
  float: left;
  height: 6.5rem;
  width: 6.5rem;
  margin-right: 2vh;
}
p{
  float: right;
}
h2{
  padding-top: 25px;
}
}
  
 